[Unit]
Description=Ensure the Flathub remote is configured system-wide
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/flathub-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
